---
title: "Library"
layout: page
description: "A collection of readings related to the VX scene, virii, botnets, shellcode, injectors, cowboy coding, and malware and computer hacking in general."
---

{% for cat in site.data.library.master %}
  <details>
    <summary>{{cat.cat}}</summary>
    <ul>
    {% for res in cat.payload %}
      <li>
        {% if res.link %}
          <a href="{{res.link}}">{{res.name}}</a>
        {% else %} 
          {{res.name}}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
  </details>
{% endfor %}
